= simple_form_for([@business, @service], class: 'form form-horizontal') do |f|

  - if @service.errors.any?
    #error_explanation
      %h2= "#{pluralize(@service.errors.count, "error")} prohibited this service from being saved:"
      %ul
        - @service.errors.full_messages.each do |msg|
          %li= msg

  .form-inputs
    = f.hidden_field :business_id
    / Text input
    .form-group
      = f.label :name
      .controls
        = f.text_field :name, class: 'form-control'

    .form-group
      = f.label :description
      .controls
        = f.text_area :description, class: 'form-control'

    .form-group
      = f.label :duration
      .controls
        = f.number_field :duration, class: 'form-control'
    %hr/
    .form-group
      = f.input :is_public, class: 'form-control'

    %hr/
    .actions
      = f.submit 'Save Service', class: 'btn btn-success'
