
%p#notice= notice
%ol.breadcrumb
  %li
    = link_to 'Services', business_services_path
  %li.active
    = @service.name

%h2 Editing Service
%hr/
= render 'form'

%hr/
= link_to 'Show', [@business, @service]
\|
= link_to 'Back', business_services_path
