
%p#notice= notice
%ol.breadcrumb
  %li
    = link_to 'Services', business_services_path
  %li.active Directory
%br/

%table.table.table-striped
  %tr
    %th Name
    %th Description
    %th Duration
    %th
    %th
    %th

  - if @services.empty?
    %tr
      %td{:colspan => "100"}
        %br/
        %strong No Services found for this Business.
        %p Please click the button below to add a Service for your Business.
  - @services.each do |service|
    %tr
      %td= service.name
      %td= service.description
      %td= service.duration
      %td= link_to 'Show', [@business, service]
      %td= link_to 'Edit', edit_business_service_path(@business, service)
      %td= link_to 'Destroy', [@business, service], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br/
%hr/

= link_to 'New Service', new_business_service_path(@business), class: 'btn btn-success'
