<div id="sidebar-wrapper">

  <ul class="sidebar-nav <%= @business.is_active? ? 'enabled' : 'disabled' %>">
    <li class="sidebar-brand">

      <%= link_to(business_path(@business)) do %>
          <!-- <i class='fa fa-circle' style=\"display:inline-block;\"></i> -->
          <%= @business.display_name.titleize %>
          <br/>
          <span class='tagline'>Call Center</span>
      <% end %>
    </li>

    <li class='appointments'>
      <%= link_to 'Appointments', business_sidebar_url(:appointments), class: business_sidebar_active(:appointments) %>
    </li>

    <li class='first'>
      <%= link_to 'Dashboard', business_sidebar_url(:dashboard), class: business_sidebar_active(:dashboard) %>
    </li>

    <li class='disabled'>
      <%= link_to 'Offices / Locations', business_sidebar_url(:offices), class: business_sidebar_active(:offices) %>
    </li>

    <li >
      <%= link_to 'Subaccounts', business_subaccounts_path(@business.slug) %>
    </li>

    <li class='disabled'>
      <%= link_to 'Services', business_sidebar_url(:services), class: business_sidebar_active(:services) %>
    </li>

    <li class='disabled'>
      <%= link_to 'User Staff', business_sidebar_url(:users), class: business_sidebar_active(:users) %>
    </li>

    <li class='disabled'>
      <%= link_to 'Scheduling Rules', business_sidebar_url(:schedule_rules), class: business_sidebar_active(:schedule_rules) %>
    </li>

    <li class='disabled'>
      <%= link_to 'Recordings', business_sidebar_url(:recordings), class: business_sidebar_active(:recordings) %>
    </li>

    <li class='disabled'>
      <%= link_to 'Setup', business_sidebar_url(:setup), class: business_sidebar_active(:setup) %>
    </li>
    <%= render 'shared/sidebar_user' %>
  </ul>
</div>