#sidebar-wrapper
  %ul{:class => "sidebar-nav #{@business.is_active? ? 'enabled' : 'disabled'}"}
    %li.sidebar-brand
      = link_to(business_path(@business)) do
        / <i class='fa fa-circle' style=\"display:inline-block;\"></i>
        = @business.display_name.titleize
        %br/
        %span.tagline Call Center
    %li.appointments
      = link_to 'Appointments', business_sidebar_url(:appointments), class: business_sidebar_active(:appointments)
    %li.first
      = link_to 'Dashboard', business_sidebar_url(:dashboard), class: business_sidebar_active(:dashboard)
    %li
      = link_to 'Offices / Locations', business_sidebar_url(:offices), class: business_sidebar_active(:offices)

    - if can? :read, Number
      %li
        = link_to 'Inbound Numbers', business_sidebar_url(:numbers), class: business_sidebar_active(:numbers)

    - if can? :read, Service
      %li
        = link_to 'Services', business_sidebar_url(:services), class: business_sidebar_active(:services)

    - if can? :read, User
      %li
        = link_to 'User Staff', business_sidebar_url(:users), class: business_sidebar_active(:users)

    - if can? :read, ScheduleRule
      %li
        = link_to 'Scheduling Rules', business_sidebar_url(:schedule_rules), class: business_sidebar_active(:schedule_rules)

    %li.disabled
      = link_to 'Recordings', business_sidebar_url(:recordings), class: business_sidebar_active(:recordings)

    - if can? :read, Setting
      %li
        = link_to 'Settings', business_sidebar_url(:settings), class: business_sidebar_active(:settings)

    = render 'shared/sidebar_user'
