<%= simple_form_for(@sub_account, :url => create_subaccount_path ,:html => {class: 'form form-horizontal',:role =>"form"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name , :input_html => {:value => @business.name, class: 'form-control' }   %>
  </div>
  <br/>
  <div class="form-actions">
    <%= f.submit 'Create', class: 'btn btn-primary' %>
    <%= link_to 'Back', business_subaccounts_path , class: 'btn btn-default'%>
  </div>

<% end %>
