<div class="container">
  <div class="row">
  	<div id="loading" style="display:none;text-align: center;">
	  <%= image_tag 'loading.gif' %>
	</div>
  </div>
  <div class="row">
    <div class="col-md-3">
		<%= simple_form_for :search , :url => search_numbers_path, :html => {:role => 'form', class: 'get-phonenumbers' , :remote => true } do |f| %>
			<%= f.input :in_postal_code , :label => 'Near US postal code' , :hint => "e.g. 21201" %>
			<%= f.input :near_number , :label => 'Near this other number', :hint => "e.g. +14439555458"  %>
			<%= f.input :contains , :label => 'Matching the pattern' , :hint => "e.g. 415***EPIC" %>
			<%= f.submit 'Search' ,class: 'btn btn-success' %>
			<%= link_to 'Back' ,business_subaccounts_path, class: 'btn btn-default' %>
		<% end %>
	</div>

	<div class="col-md-8" id="number-serach-results">
		
	</div>
  <div>
</div>


