#schedule-container
  = simple_form_for([@business, @schedule_rule], class: 'form') do |f|
    = f.hidden_field :business_id
    = f.hidden_field :service_provider_id

    - if @schedule_rule.errors.any?
      #error_explanation
        %h2= "#{pluralize(@schedule_rule.errors.count, "error")} prohibited this schedule_rule from being saved:"
        %ul
          - @schedule_rule.errors.full_messages.each do |msg|
            %li= msg

    = form_error_messages(@schedule_rule)

    .form-inputs
      / Text input
      .form-group.row.service-providers
        .col-lg-3.left
          = f.label :is_schedule_public, 'Service Provider'
        .col-lg-9.right
          = f.collection_select :service_provider_id, @service_providers, :id, :display_name, { selected: @schedule_rule.service_provider_id }, class: 'bootstrap-select', data: { style: 'btn-info', width: '300px' }
        .col-lg-12.right
          %br/
          .help
            A Service Provider may only be used once, but may have multiple Time Sheets in a single Schedule Rule.
            %br
      %br
      %br
      -# Nav tabs
      %ul.nav.nav-tabs{:role => "tablist"}
        %li.active{:role => "presentation"}
          %a{id: "availability-tab", "aria-controls" => "availability", "data-toggle" => "tab", :href => "#availability", :role => "tab"}
            Availability
            %span.count.muted (0)
        %li{:role => "presentation"}
          %a{id: "breaks-tab", "aria-controls" => "breaks", "data-toggle" => "tab", :href => "#breaks", :role => "tab"}
            Breaks
            %span.count.muted (0)

      .tab-content
        #availability.top-time-sheet-entries.row.active.tab-pane{role: "tabpanel"}
          .btn.btn-add-time-sheet.btn-link.hidden.pull-right
            %i.fa.fa-plus
            Add another Time Sheet
          .clear
        #breaks.break-entries.row.tab-pane{role: "tabpanel"}
          %br/
          %br/

      .time-sheet-spinner
        %i.fa.fa-spinner.fa-spin
        Loading...

      .alert.alert-info.hidden
        Would you like to add some breaks?

    %br/
    .actions

      .btn.btn-save-everything.btn-default.pull-right.btn-lg.hidden
        %i.fa.fa-check
        Save Schedule

- content_for :javascript do
  :coffeescript
    Scp.Data =
      services: #{@services.to_json}
      offices: #{@offices.to_json}
      providers: #{@service_providers.to_json}