%ol.breadcrumb
  %li
    %a{:href => business_schedule_rules_path(@business)} Schedule Rules
  %li.active Directory

.pull-left
  = link_to 'New Schedule Rule', new_business_schedule_rule_path, class: 'btn btn-success'

.view-archived.pull-right
  .btn.btn-default
    %label
      Show Archived Rules
      = check_box_tag(:view_archived)
.clear
%br/

%table.table.table-striped
  %tr
    %th Service provider
    %th Summary
    %th Last Updated
    %th
    %th
    %th
  - if @schedule_rules.empty?
    %tr
      %td{colspan: 100}
        %p
          %h3 No Schedule Rules were found for your Business.
          %p Click the button below to easily add a new Schedule Rule.
  - @schedule_rules.each do |schedule_rule|
    %tr
      %td= schedule_rule.service_provider_id
      %td= schedule_rule.last_updated_at
      %td= link_to 'Show', business_schedule_rule(schedule_rule)
      %td= link_to 'Edit', edit_business_schedule_rule_path(schedule_rule)
      %td= link_to 'Destroy', business_schedule_rule, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
%hr


