%ol.breadcrumb
  %li
    %a{:href => business_schedule_rules_path(@business)} Schedule Rules
  %li.active Editing Schedule Rule

%hr/
= render 'form'

%br/
%br/
%hr/

= link_to 'Back', business_schedule_rules_path, class: 'btn btn-link'

- content_for :javascript do
  :coffeescript
    Scp.Data =
      services: #{@services.to_json}
      offices: #{@offices.to_json}
      providers: #{@service_providers.to_json}

    Scp.Preload = new Scp.Services.PreloadService
      time_sheets: #{@schedule_rule.time_sheets.to_json}
      time_sheet_services: #{@schedule_rule.time_sheets.map(&:time_sheet_services).map { |tss| tss.map(&:id) }}
      time_entries: #{@schedule_rule.time_sheets.map(&:time_entries).map{ |te| te.all }.flatten.to_json }
      break_shifts: #{@schedule_rule.break_shifts.to_json}
      break_services: #{@schedule_rule.break_shifts.map(&:break_services).map { |bs| bs.map(&:service).map(&:id) }}
      break_offices: #{@schedule_rule.break_shifts.map(&:break_offices).map { |bo| bo.map(&:office).map(&:id) }}

    # Start the ScheduleForm UI
    $ -> window['view'] = new Scplanner.Views.Schedules.NewView()