<h1>Business Offices and Locations</h1>
<hr/>
<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th colspan="3" class='actions'>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @offices.each do |business_office| %>
      <tr>
        <td><%= business_office.name.titleize %></td>
        <td><%= business_office.location.titleize %></td>
        <td>
          <%= link_to 'Show', business_office_path(business_id: business_office.business_id, id: business_office.id), class: 'btn btn-link' %>
          <%= link_to 'Edit', edit_business_office_path(business_id: business_office.business_id, id: business_office.id), class: 'btn btn-link' %>
          <%= link_to 'Destroy', [business_office.business, business_office], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business office', new_business_office_path, class: 'btn btn-success' %>
