%h1 Listing twillio_tests

%table
  %tr
    %th To number
    %th Body
    %th
    %th
    %th

  - @twillio_tests.each do |twillio_test|
    %tr
      %td= twillio_test.to_number
      %td= twillio_test.body
      %td= link_to 'Show', twillio_test
      %td= link_to 'Edit', edit_twillio_test_path(twillio_test)
      %td= link_to 'Destroy', twillio_test, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Twillio test', new_twillio_test_path
