%p#notice= notice

%p
  %b To number:
  = @twillio_test.to_number
%p
  %b Body:
  = @twillio_test.body

= link_to 'Edit', edit_twillio_test_path(@twillio_test)
\|
= link_to 'Back', twillio_tests_path
