<%= simple_form_for([@business,@number]) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.association :sub_account %>
    <%= f.input :number %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
