%p#notice= notice
%ol.breadcrumb
  %li
    = link_to 'Numbers', business_numbers_path
  %li.active Directory

%br/


%table.table.table-striped
  %thead
    %tr
      %th Number
      %th Office
      %th.actions{:colspan => "3"}
  %tbody
    - if @numbers.empty?
      %tr
        %td.muted{:colspan => "100"}
          There are currently no Inbound Numbers associated with your Business.
    - @numbers.each do |number|
      %tr
        %td= number.phone_number
        %td
          - if number.office
            = number.office
          - else
            %span.muted
              All Offices
        %td.actions
          = link_to 'Show', business_number_path(@business, number), class: 'btn btn-default btn-xs'
          = link_to 'Edit', edit_business_number_path(@business, number), class: 'btn btn-warning btn-xs'
          = link_to 'Destroy', business_number_path(@business, number), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'

%br/
%hr/
- if can? :create, Number
  = link_to 'Buy New Number', new_business_number_path(@business), class: 'btn btn-success'
  %br/
  %br/
  %span.muted.small Warning: Twilio will instantly charge your account $1 for each Number purchased.

