%h1
  Inbound Numbers for
  \#{@business.display_name}
%table.table.table-striped
  %thead
    %tr
      %th Number
      %th Office
      %th{:colspan => "3"}
  %tbody
    - if @numbers.empty?
      %tr
        %td.muted{:colspan => "100"}
          There are currently no Inbound Numbers associated with your Business.
    - @numbers.each do |number|
      %tr
        %td= number.number
        %td= number.office
        %td= link_to 'Show', number
        %td= link_to 'Edit', edit_number_path(number)
        %td= link_to 'Destroy', number, method: :delete, data: { confirm: 'Are you sure?' }
%br/
%hr/
- if can? :create, Number
  = link_to 'New Number', new_business_number_path(@business), class: 'btn btn-success'
