
.alert.alert-danger
  Warning: Twilio will 
  %strong Instantly 
  charge your account $1 for each Number purchased.
%hr/
.container
  .row
    #loading{:style => "display:none;text-align: center;"}
      = image_tag 'loading.gif'
  .row
    .col-md-3
      = simple_form_for :search , :url => business_search_path(@business),           |
        :html => { :role => 'form', class: 'number-search', :remote => true } do |f| |
        = f.input :in_postal_code, :label => 'Near US postal code', :hint => "e.g. 21201"
        = f.input :near_number, :label => 'Near this other number', :hint => "e.g. +14439555458"
        = f.input :contains, :label => 'Matching the pattern', :hint => "e.g. 415***EPIC"
        = f.submit 'Search', class: 'btn btn-success'
        = link_to 'Back', business_numbers_path(@business), class: 'btn btn-default'
    #number-search-results.col-md-8

