%p#notice= notice
%p
  %h1 Designated Office:
  %h3
    - if @number.office
      = @number.office.name
    - else
      All Offices

%hr/
%p
  %strong Number:
  = @number.phone_number
%p
  %strong SID:
  = @number.sid

%hr
= link_to 'Back', business_numbers_path(@business), class: 'btn btn-default'
&nbsp;
= link_to 'Edit', edit_business_number_path(@business, @number), class: 'btn btn-warning'
