= simple_form_for [@business, @user], class: 'form form-horizontal' do |f|
  - if @user.errors.any?
    #error_explanation
      %h3= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
    %hr/

  .form-inputs
    = f.hidden_field :business_id

    / Text input
    .form-group
      = f.label :first_name
      .controls
        = f.text_field :first_name, class: 'form-control'
      .error
        = f.error :first_name

    / Text input
    .form-group
      = f.label :last_name
      .controls
        = f.text_field :last_name, class: 'form-control'
      .error
        = f.error :last_name

    / Text input
    .form-group
      = f.label :email, 'Email Address'
      .controls
        = f.text_field :email, class: 'form-control'
      .error
        = f.error :email

    / Text input
    .form-group
      = f.label :phone, 'Phone Number'
      .controls
        = f.text_field :phone, class: 'form-control'
      .error
        = f.error :phone

    %hr/

    / Text input
    .form-group
      = f.label :password
      .controls
        = f.password_field :password, class: 'form-control'
      .error
        = f.error :password
    / Text input
    .form-group
      = f.label :password_confirmation, 'Confirmation'
      .controls
        = f.password_field :password_confirmation, class: 'form-control'
      .error
        = f.error :password_confirmation

    %hr/
    .form-group
      .well
        = f.input :roles, :as => :check_boxes, :collection => business_user_roles

  %hr/
  .actions
    = f.submit 'Save User', class: 'btn btn-success'
