#sidebar-wrapper
  %ul.sidebar-nav
    %li.sidebar-brand
      = link_to manage_dashboard_path do
        Super Console
    %li
      = link_to 'Dashboard', manage_dashboard_path, class: manage_sidebar_active(:dashboard)

    - if can? :read, Business
      %li= link_to 'Businesses', manage_businesses_path, class: manage_sidebar_active(:businesses)

    - if can? :read, SystemLog
      %li= link_to 'System Logs', system_logs_path, class: manage_sidebar_active(:system_logs)

    -#- if can? :read, Simulator
      -#%li= link_to 'Simulator', manage_test_client_path, class: manage_sidebar_active(:simulator)

    = render 'shared/sidebar_user'
