%h3.header
  Office Selection for your Business

%hr


.content-box
  = simple_form_for [@business, @office_selection], url: business_setting_path(@business, @office_selection) do |f|
    %input{type: "hidden", name: "hash", value: "office-selection" }/
    %input{type: "hidden", name: "setting[supportable_type]", value: "Office" }/
    - disable_selection =  @offices.length > 1 ? false : true

    .row.office-selections.no-select
      - if disable_selection
        .col.col-lg-12
          .alert.alert-info.info
            Your Business currently has less than
            %strong 2 Offices,
            check out the Offices page to &nbsp;
            = link_to 'Add more Offices', business_offices_path(@business), class: 'btn btn-info'

      .col.col-lg-12
        .selection
          %input{ id: "office-ask", type: :radio, name: "setting[office_selection_type]", value: 'office_ask', checked: ('office_ask' == @office_selection.value) }
        .heading
          %label{for: "office-ask"}
            First ask the Customer to Select a Office
            %p
              — Selection will be skipped if you have less than 2 Offices
              %span.muted — default

      .col.col-lg-12{ class: "#{disable_selection ? 'muted' : ''}" }
        .selection
          %input{ id: "office-ask-and-assume", type: :radio, name: "setting[office_selection_type]", value: 'office_ask_and_assume', checked: ('office_ask_and_assume' == @office_selection.value), disabled: disable_selection }
        .heading
          %label{for: "office-ask-and-assume"}
            Assume it is for
            = f.collection_select :supportable_id, @offices, :id, :name, {}, disabled: disable_selection
            %p but allow Customers to change the default Office

      .col.col-lg-12{ class: "#{disable_selection ? 'muted' : ''}" }
        .selection
          %input{ id: "office-assume", type: :radio, name: "setting[office_selection_type]", value: 'office_assume', checked: ('office_assume' == @office_selection.value), disabled: disable_selection }
        .heading
          %label{for: "office-assume"}
            Assume it is for
            = f.collection_select :supportable_id, @offices, :id, :name, {}, disabled: disable_selection
            %p without any option to change


    %hr
    %button.btn-save-office-selection.btn-default.btn{type: :submit}
      %i.fa.fa-save
        Save Preferences

