%ol.breadcrumb
  %li
    = link_to 'System Logs', system_logs_path
  %li.active Directory

%br/


%table.table
  %tbody
    %thead
      %th ID
      %th Business
      %th Customer
      %th Inbound Number
      %th Time
    - if @system_logs.empty?
      %tr
        %td.muted{:colspan => "100"}
          Nothing has happened yet...

    %tr.spacer
      %td{colspan:100}
    - @system_logs.each_with_index do |log, index|
      %tr.spacer
        %td{colspan:100}
      %tr.entry
        %td.id= "##{log.id}"
        %td.business= log.business.display_name
        %td.customer= log.customer.display_name
        %td.inbound= log.to
        %td.time
          = time_ago_in_words log.created_at
          ago
      %tr.facts
        %td{colspan: 100}
          .row
            .col-sm-1
              Actions:
            .col-sm-11
              - log.facts.each_with_index do |fact, index|
                .fact.row
                  .col.col-md-1.index
                    = index + 1
                  .col.col-md-3.title
                    %strong= fact.title
                  .col.col-md-8.payload
                    - if fact.payload.include? "xml"
                      %textarea{disabled: true}
                        = fact.payload
                    - else
                      = fact.payload.html_safe

%hr/
.btn-group.pull-right
  = link_to 'Reset Sessions', 
    clear_sessions_system_logs_path, 
    class: 'btn btn-warning btn-sm', 
    data: { confirm: "Are you sure you want to clear all Sessions?" }

  = link_to 'Reset Logs', 
    clear_system_logs_path, 
    class: 'btn btn-danger btn-sm', 
    data: { confirm: "Are you sure you want to clear all Logs?" }

  = link_to 'Clear Everything', 
    clear_everything_system_logs_path, 
    class: 'btn btn-info btn-sm', 
    data: { confirm: "Are you sure you want to clear Everything?" }

- content_for :javascript do
  :coffeescript
    $ ->
      $('textarea').each (i, t)->
        $el = $(t)
        $el.val vkbeautify.xml($el.val())
        $el.css('min-height', ($el.val().match(/\n/g).length + 1) * 17)
