%ol.breadcrumb
  %li
    %a{:href => manage_businesses_path} Businesses
  %li.active Directory
%table.table.table-striped
  %thead
    %tr
      %th Business Name
      %th Billing Contact
      %th Staff
      %th Date Registered
      %th Approved
      %th.actions Actions
  %tbody

    - if @businesses.empty?
      %tr
        %td{:colspan => "100"} No Businesses found in the system.
    - @businesses.each do |business|
      %tr
        %td= business.name
        %td= business.billing_name
        %td= business.users.length
        %td= business.created_at
        %td
          %i{:class => "fa #{business.is_active? ? 'fa-check green' : 'fa-remove red'}"}
        %td
          = link_to 'Show', manage_business_path(business), class: 'btn btn-link'
          = link_to 'Edit', edit_manage_business_path(business), class: 'btn btn-link'

          = link_to 'Destroy', manage_business_path(id: business), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link'

%br/
