<ol class="breadcrumb">
  <li><a href="<%= manage_businesses_path %>">Businesses</a></li>
  <li class='active'>Directory</li>
</ol>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Business Name</th>
      <th>Billing Contact</th>
      <th>Staff</th>
      <th>Date Registered</th>
      <th>Approved</th>
      <th class='actions'>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @manage_businesses.each do |business| %>
      <tr>
        <td><%= business.name %></td>
        <td><%= business.billing_name %></td>
        <td><%= business.users.length %></td>
        <td><%= business.created_at %></td>
        <td><i class='fa <%= business.is_active? ? 'fa-check green' : 'fa-remove red' %>'></i></td>
        <td>
          <%= link_to 'Show', manage_business_path(business), class: 'btn btn-link' %>
          <%= link_to 'Edit', edit_manage_business_path(business), class: 'btn btn-link' %>
          <%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "super/manage_businesses", :media => "all" %>
<% end %>