<p id="notice"><%= notice %></p>
<ol class="breadcrumb">
  <li><a href="<%= manage_businesses_path %>">Businesses</a></li>
  <li class='active'><%= @business.name.titleize %></li>
</ol>

<hr/>
<h1><%= @business.name.titleize%></h1>
<hr/>

<div class='row'>
  <div class='col-lg-12 field-name'>Billing Details:</div>
  <div class='col-lg-12'>
    <table class='table table-striped boxed'>
      <thead>
        <tr>
          <th>Billing Contact</th>
          <th>Billing Email Address</th>
          <th>Billing Phone</th>
          <th>Billing Address</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @business.billing_name %></td>
          <td><%= @business.billing_email || 'n/a' %></td>
          <td><%= @business.billing_phone || 'n/a' %></td>
          <td><%= @business.billing_address || 'n/a' %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<hr/>

<div class='row'>
  <div class='col-lg-12 field-name'>Approved:</div>
  <div class='col-lg-12'><%= (@business.is_active?).to_s.upcase %></div>
</div>

<hr/>

<div class='row'>
  <div class='col-lg-12 field-name'>Offices and Locations:</div>
  <div class='col-lg-12'>
    <% if @business.offices.length == 0 %>
    <span class='muted'>No Offices Found</span>
    <% end %>

    <% @business.offices.each do |office| %>
      <%= render partial: "office_details", locals: { user: user } %>
    <% end %>
  </div>
</div>


<hr/>

<div class='row'>
  <div class='col-lg-12 field-name'>User Staff:</div>
  <div class='col-lg-12'>
    <% @business.users.each do |user| %>
      <%= render partial: "user_staff_details", locals: { user: user } %>
    <% end %>
  </div>
</div>



<hr/>
<%= link_to 'Back', manage_businesses_path, class: 'btn btn-link' %> |
<%= link_to 'Edit', edit_manage_business_path(@business), class: 'btn btn-link' %>
